<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>List of books (<%= count %>) </h1>
    <table border="2" width="600">
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity Available</th>
        <th></th>
    </tr>
    <% for(book of books) { %>
    <tr>
        <td>
            <%= book.name %>
        </td>
        <td>
            <%= book.author %>
        </td>
        <td>
            <%= book.description %>
        </td>
        <td>
            <%= book.price %>
        </td>
        <td>
            <%= book.available_quantity %>
        </td>
        <td>
            <form action="/borrow_book" method="POST" class="borrow-form">
                <input type="text" name="book_name" value="<%= book.name %>" hidden="true">
                <input type="submit" value="Borrow" class="submit-button">
            </form>
        </td>
    </tr>
    <% } %>
    </table>
    <script type="text/javascript">
        var ws = new WebSocket("ws://localhost:" + <%= port %> + "/ws");

        ws.onmessage = function(message) {
            console.log("message from server: ");
            console.log(message.data);
            if(message.data == 'book borrowed') {
                window.location.reload();
            }
        }

        function borrow (event) {
            console.log('websocket message sent: "book borrowed"');
            ws.send('book borrowed');
        }

        for (borrowForm of document.getElementsByClassName('borrow-form')) {
            borrowForm.onsubmit = borrow;
        }
    </script>
  </body>
</html>
